footer {
	margin-left: 30%;
	margin-right: 30%;
}

#about-head{
	font-family: 'Mada', sans-serif;
	margin-right:65%;
}

#h3-about {
	font-family: 'Dosis', sans-serif;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 30px;
}

#h3-portfolio {
	font-family: 'Dosis', sans-serif;
	margin-right: 10%;
	margin-left: 10%;
	font-size 30px;
}

#devmatch {
	cursor: pointer;
}
#pic-dev {
	width: 50%;
	margin-right: 25%;
}

#pic-trump-pen {
	width: 50%;
	margin-right: 15%;
}

.img-left {
	float:left; margin: 5px; 
}

#h3-contact{
	font-family: 'Dosis', sans-serif;
	margin-right: 10%;
	margin-left: 10%;
	font-size 30px;
}

